## HYBE로 테스트

In [107]:
import pandas as pd
df = pd.read_csv("../데이터/주가/HYBE 과거 데이터.csv")
df

                날짜       종가       시가       고가       저가      거래량     변동 %
0     2020- 10- 16  198,495  250,470  250,470  197,010    4.44M  -22.29%
1     2020- 10- 19  187,110  196,515  200,475  185,130    1.97M   -5.74%
2     2020- 10- 20  180,675  188,100  191,565  174,240    1.77M   -3.44%
3     2020- 10- 21  177,210  178,695  183,645  175,230    1.62M   -1.92%
4     2020- 10- 22  178,200  174,735  183,150  173,745    1.17M    0.56%
...            ...      ...      ...      ...      ...      ...      ...
1261  2025- 04- 23  230,500  232,000  232,500  228,500  112.88K    0.00%
1262  2025- 04- 24  228,000  229,500  231,500  227,000   74.37K   -1.08%
1263  2025- 04- 25  232,500  228,500  234,500  226,500  172.04K    1.97%
1264  2025- 04- 28  248,500  233,500  248,500  230,000  318.67K    6.88%
1265  2025- 04- 29  253,000  250,000  253,500  243,500  288.64K    1.81%

[1266 rows x 7 columns]

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1266 non-null   object
 1   종가      1266 non-null   object
 2   시가      1266 non-null   object
 3   고가      1266 non-null   object
 4   저가      1266 non-null   object
 5   거래량     1116 non-null   object
 6   변동 %    1266 non-null   object
dtypes: object(7)
memory usage: 69.4+ KB

전부 object라서 

`날짜`는 datetime으로, `가격`/`거래량`은 int로, `변동`은 float으로 변환

### 1. `날짜`

In [109]:
df_copy = df.copy()

In [110]:
df_copy['날짜'] = df_copy['날짜'].str.replace(' ', '')
df_copy['날짜'] = pd.to_datetime(df_copy['날짜'])

In [111]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1266 non-null   datetime64[ns]
 1   종가      1266 non-null   object
 2   시가      1266 non-null   object
 3   고가      1266 non-null   object
 4   저가      1266 non-null   object
 5   거래량     1116 non-null   object
 6   변동 %    1266 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 69.4+ KB

### 2. `종가`, `시가`, `고가`, `저가`

In [112]:
columns = ['종가', '시가', '고가', '저가']
for i in columns:
    df_copy[i] = df_copy[i].str.replace(',','')
    df_copy[i] = df_copy[i].astype(int)

In [113]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1266 non-null   datetime64[ns]
 1   종가      1266 non-null   int64
 2   시가      1266 non-null   int64
 3   고가      1266 non-null   int64
 4   저가      1266 non-null   int64
 5   거래량     1116 non-null   object
 6   변동 %    1266 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 69.4+ KB

### 3. `거래량`

In [114]:
df[df['거래량'].isna()]

               날짜       종가       시가       고가       저가  거래량   변동 %
6    2020- 10- 25  172,500  172,500  172,500  172,500  NaN  1.01%
12   2020- 11- 01  142,000  142,000  142,000  142,000  NaN  1.01%
18   2020- 11- 08  162,000  162,000  162,000  162,000  NaN  1.01%
24   2020- 11- 15  160,000  160,000  160,000  160,000  NaN  1.01%
30   2020- 11- 22  184,500  184,500  184,500  184,500  NaN  1.01%
..            ...      ...      ...      ...      ...  ...    ...
965  2024- 02- 12  200,000  200,000  200,000  200,000  NaN  0.00%
970  2024- 02- 18  208,500  208,500  208,500  208,500  NaN  0.00%
976  2024- 02- 25  215,500  215,500  215,500  215,500  NaN  0.00%
981  2024- 03- 03  199,100  199,100  199,100  199,100  NaN  0.00%
987  2024- 03- 10  194,600  194,600  194,600  194,600  NaN  0.00%

[150 rows x 7 columns]

In [115]:
tmp = set(''.join(df['거래량'].dropna().astype(str)))
tmp

{'.', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'K', 'M'}

In [116]:
def convert_volume(x):
    if pd.isna(x):
        return None
    x = str(x).replace('.','')
    if 'M' in x:
        return float(x.replace('M',''))*1000000
    elif 'K' in x:
        return float(x.replace('K',''))*1000
    else:
        return float(x)

df_copy['거래량'] = df_copy['거래량'].dropna().apply(convert_volume).astype(int)

In [117]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1266 non-null   datetime64[ns]
 1   종가      1266 non-null   int64
 2   시가      1266 non-null   int64
 3   고가      1266 non-null   int64
 4   저가      1266 non-null   int64
 5   거래량     1116 non-null   float64
 6   변동 %    1266 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 69.4+ KB

### 4. `변동 %`

In [118]:
df_copy['변동 %'] = df_copy['변동 %'].str.replace('%', '').astype(float)

In [119]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1266 non-null   datetime64[ns]
 1   종가      1266 non-null   int64
 2   시가      1266 non-null   int64
 3   고가      1266 non-null   int64
 4   저가      1266 non-null   int64
 5   거래량     1116 non-null   float64
 6   변동 %    1266 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 69.4 KB

In [120]:
df_copy.to_csv("../데이터/주가/cleaned/HYBE 과거 데이터_전처리.csv", index=False, encoding="utf-8-sig")

In [121]:
df_copy['날짜']

0      2020-10-16
1      2020-10-19
2      2020-10-20
3      2020-10-21
4      2020-10-22
          ...
1261   2025-04-23
1262   2025-04-24
1263   2025-04-25
1264   2025-04-28
1265   2025-04-29
Name: 날짜, Length: 1266, dtype: datetime64[ns]

## 나머지 주가데이터 모두 적용

In [104]:
import pandas as pd

def preprocess_stock_df(df):
    df = df.copy()

    # 1. 날짜
    df['날짜'] = df['날짜'].str.replace(' ', '')
    df['날짜'] = pd.to_datetime(df['날짜'])

    # 2. 가격
    columns = ['종가', '시가', '고가', '저가']
    for col in columns:
        df[col] = df[col].astype(str).str.replace(',', '')
        df[col] = df[col].astype(float).astype(int)

    # 3. 거래량
    def convert_volume(x):
        if pd.isna(x):
            return None
        x = str(x).replace('.', '')
        if 'M' in x:
            return float(x.replace('M','')) * 1000000
        elif 'K' in x:
            return float(x.replace('K','')) * 1000
        elif 'B' in x:
            return float(x.replace('B', '')) * 1000000000
        else:
            return float(x)

    df['거래량'] = df['거래량'].apply(convert_volume)

    # 4. 변동 %
    df['변동 %'] = df['변동 %'].str.replace('%', '', regex=False).astype(float)
    # regex=False: 정규식 아님, 단순 문자 대체
    return df

In [106]:
import os

input_dir = "../데이터/주가"
output_dir = "../데이터/주가/cleaned"

for file_name in os.listdir(input_dir):
    if file_name.endswith("과거 데이터.csv"):
        input_path = os.path.join(input_dir, file_name)

        # 파일명에 _전처리 붙이기
        base_name, ext = os.path.splitext(file_name)
        new_file_name = base_name + "_전처리" + ext
        output_path = os.path.join(output_dir, new_file_name)

        df = pd.read_csv(input_path)
        df_cleaned = preprocess_stock_df(df)

        df_cleaned.to_csv(output_path, index=False, encoding="utf-8-sig")